body{
  padding-top: 60px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  color: #fff;
  padding: 5px;
  position: sticky;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style: none;
  font-weight: bold;
}

li{
  cursor: pointer;
}

.a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-color: crimson;
  margin: 40px 30px 75px 30px;
  border-radius: 30px;
}

.content-header{
  color: #fff;
}